<div style="margin-top:50px;" ng-controller="UserCtrl">
    <input type="hidden" ng-model="name">
    <input type="hidden" ng-model="email">

    <div class="col-sm-3">
        <div class="container-fluid" style="margin-top:30px;background-color:currentcolor;">
            <div class="jumbotron" style="background-color:currentcolor;">
                <ul style="margin-left:-40px;" class="list-unstyled">
                    <li style="color:white;font-size:16px;" ng-repeat="(key,value) in userdata"> {{value}}</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-sm-9"></div>
</div>

